@media screen and (max-width: 428px) {

    .nav_mini {
      margin-left: 0%;
      margin-top: 3px;
      padding-right: 5%;
  }
  .nav_all a {
      padding: 5px;
  }
  .header_text h2 {
    font-size: 65px;
  }
  .header_text p {
    font-size: 17px;
    letter-spacing: 10px;
 }
  .header_car {
    max-width: 88%;
    height: auto;
 }
 .bg_section {
  height: 565px;
  }
  .cab-left h3 {
    font-size: 25px;
 }
 .cab-left {
  padding: 25px;
 }
 .cab-left h2 {
  font-size: 32px;
 }
 .resposive{
  margin-top: -50px;
 }
 .cab-left p {
  font-size: 14px;
  margin: -20px 0px -10px 0px;
 }
 .res_input {
  margin: -15% 5%;
 }
 .cab {
  height: 897px;
 }

 .tariffs_res{
  margin: -40px 0px;
 }
 .card {
  margin: 45px 45px 60px 45px;
  width: 78%;
 }
 .card-star img {
  width: 17%;
  margin-top: -17%;
  margin-left: 33%;
 }
 .card h1 {
  padding-bottom: 15px;
 }
 .card_res1 {
  margin-bottom: -70px;
 }
 .card_body p {
  font-size: 16px;
  padding: 0px 27px 0px 0px;
 }
 .card_star img {
  margin-left: 13px;
 }
 .res_best{
  margin-top: -40px;
 }

 .main_pickup {
  height: 1088px;
  padding: 0;
 }

 .service-info h2 {
  font-size: 40px;
 }
 .service_left {
  padding: 20px;
 }
 .sevice_right img {
  margin-left: 77px;
  width: 83%;
 }
 .happy_text h3 {
  font-size: 33px;
  margin-top: -35px;
 }
 .happy_mt {
  margin-top: 20px;
 }
 .happy_box p {
  font-size: 14px;
  padding: 0px;
  margin-left: 30px;
 }
 .happy_box {
  padding: 8px 38px 35px 2px;
  border-radius: 40px;
  margin: 15px 18px;
  width: 91%;
 }
 .happy_client {
  height: 640px;
 }
 .contact {
  height: 780px;
  padding: 1px 0;
 }
 .footer p{
  margin-bottom: 0;
 }

}



 